.btn-default {
  font-weight: normal;
  background-color: #ffa500;
  border-radius: 0;
}

.caption {
	text-align: center;
}

.col-centered {
float: none;
margin: 0 auto;
text-align: center;
}

.row-centered {
    text-align:center;
}

.verticalLine {
	border-right: solid #000000;
}